<div class="container-fluid">
  <h3>Add a meal</h3>

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="new-meal"><i class="fa fa-cutlery"></i></span>
      </div>
      <input formControlName="name" class="form-control form-rounded" placeholder="Give your meal a name"/>
    </div>

    <div formArrayName="ingredients" *ngFor="let ingredient of getIngredients().controls; let i = index">
      <div [formGroupName]="i">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">{{i+1}}</span>
          </div>
          <input formControlName="name" class="form-control form-rounded" placeholder="Add ingredient"/>
          <div class="input-group-append">
            <button type="button" (click)="removeIngredient(i)" class="form-control btn btn-danger">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group mb-3">
      <button type="button" (click)="addIngredient()" [disabled]="!form.valid" class="btn btn-secondary btn-block">
        <i class="fa fa-plus"></i>
        Add ingredient
      </button>
    </div>
    <div class="input-group mb-3">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block">
        <i class="fa fa-check"></i>
        Save meal!
      </button>
    </div>

  </form>
</div>
