<div class="container">
  <h3>Add a meal</h3>

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
    <div>
      <label>Name: </label>
      <input formControlName="name">

      <div formArrayName="ingredients"
           *ngFor="let ingredient of getIngredients().controls; let i = index">
        <div [formGroupName]="i">
          <label> Ingredient {{i+1}}: </label>
          <input formControlName="name"/>
          <button type="button" (click)="removeIngredient(i)" class="btn btn-danger">
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <button type="button" (click)="addIngredient()" [disabled]="!form.valid" class="btn btn-secondary">
        <i class="fa fa-plus-circle"></i>
        Add ingredient
      </button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
        <i class="fa fa-check-circle"></i>
        Save meal!
      </button>

    </div>
  </form>
</div>
