.search-container {
    position: relative;
}

.search-container input {
}

.search {
    position: absolute;
    color: #000;
    z-index: 10;
    border: none;
    background: transparent;
    width: 100%;
}

.suggest {
    position: absolute;
    z-index: 0;
    color: #ccc;
    background: transparent;
    width: 100%;
}
